@font-face {
    font-family: kozuka-bold;
    src: url('../../fonts/pr6n-b.ttf');
}

@font-face {
    font-family: shin-bold;
    src: url('../../fonts/A-OTF\ Shin\ Go\ Pr5\ R.otf');
}

@font-face {
    font-family: futura-regular;
    src: url('../../fonts/Futura\ Maxi\ CG\ Book\ Regular.otf');
}