*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  max-width: 1440px;
  overflow-x: hidden;
  width: 100%;
  margin: 0 auto;
  font-size: 0.69444vw;
  font-size: clamp(6px, 0.69444vw, 10px);
}
@media (max-width: 1280px) {
  html {
    font-size: 0.78125vw;
  }
}
@media (max-width: 1024px) {
  html {
    font-size: 0.9765vw;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 1.30208vw;
  }
}
@media (max-width: 576px) {
  html {
    font-size: 1.7361vw;
  }
}

body {
  margin: 0;
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.6rem;
  letter-spacing: 0;
  line-height: 1.5;
  color: #008080;
  word-break: break-all;
}
@media (max-width: 576px) {
  body {
    font-size: 1.8rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
figure,
dl,
dd {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  height: 0;
  border: 0;
  border-top: 1px solid currentColor;
  opacity: 0.2;
}

button,
input,
select,
textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}

button,
[type=button],
[type=reset],
[type=submit] {
  padding: 0;
  border: 0;
  background: transparent;
}

button:not(:disabled),
[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
[role=button] {
  cursor: pointer;
}

textarea {
  resize: vertical;
}

fieldset {
  min-width: 0;
  margin: 0;
  padding: 0;
  border: 0;
}

[hidden] {
  display: none !important;
}

[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0 !important;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  max-width: 1440px;
  padding: 0 5rem;
  margin: 0 auto;
}
@media (max-width: 576px) {
  .container {
    padding: 0 1.5rem;
  }
}

.text-gradient {
  background: linear-gradient(90deg, #093028 0%, #237A57 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.text-40 {
  font-size: 4rem;
}

.text-38 {
  font-size: 3.8rem;
}
@media (max-width: 768px) {
  .text-38 {
    font-size: 24px;
  }
}

.text-34 {
  font-size: 3.4rem;
}
@media (max-width: 768px) {
  .text-34 {
    font-size: 28px;
  }
}

.text-30 {
  font-size: 3rem;
}
@media (max-width: 768px) {
  .text-30 {
    font-size: 24px;
  }
}

.text-30-sp {
  font-size: 3rem;
}
@media (max-width: 768px) {
  .text-30-sp {
    font-size: 20px;
  }
}

.text-28 {
  font-size: 2.8rem;
}

.text-24 {
  font-size: 2.4rem;
}
@media (max-width: 768px) {
  .text-24 {
    font-size: 20px;
  }
}

.text-20 {
  font-size: 2rem;
}
@media (max-width: 768px) {
  .text-20 {
    font-size: 20px;
  }
}

.text-18 {
  font-size: 1.8rem;
}
@media (max-width: 768px) {
  .text-18 {
    font-size: 18px;
  }
}

.text-white {
  color: white;
}

.font-thin {
  font-weight: 100;
}

.font-extralight {
  font-weight: 200;
}

.font-light {
  font-weight: 300;
}

.font-normal {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.font-extrabold {
  font-weight: 800;
}

.font-black {
  font-weight: 900;
}

.sp-only {
  display: none;
}
@media (max-width: 768px) {
  .sp-only {
    display: block !important;
  }
}

.pc-only {
  display: block;
}
@media (max-width: 768px) {
  .pc-only {
    display: none !important;
  }
}

.text-18-sp {
  font-size: 1.8rem;
}
@media (max-width: 768px) {
  .text-18-sp {
    font-size: 15px;
  }
}

.flex {
  display: flex;
}

.item-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

#first-view {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(../../assets/images/kv_bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#first-view .container {
  position: relative;
  width: 100%;
  height: 100%;
}

/*# sourceMappingURL=style.css.map */
